doctype 
html  
  head 
   title #{title} 
   meta(name="viewport" content="width=device-width, initial-scale=1")  
   body   
     header 
       h1 #{title}   
     div      
       img(src=`${an.foto}`)     
       h2 #{an.id_figurina}     
       h2 #{an.specie_animale}   
       h2 #{an.razza_animale}